* {
  color: white;
  line-height: 1.3;
}

body {
  font-family: "Playfair Display";
  background-color: #111;
  text-align: center;
  font-size: 24px;
}

h1 {
  margin: 8px;
  font-size: 24px;
  line-height: 1.1;
}

h2 {
  margin-bottom: 12px;
}

a {
  text-decoration: none;
}

.main {
  transition: box-shadow 1s;
  font-family: "Ubuntu Mono";
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  width: 400px;
  height: 120px;
  padding: 0;
  box-shadow: inset -8px -8px 40px #fffb;
}

.main:hover {
  box-shadow: inset -8px -8px 40px #a5e5d5bb;
}

.main0:hover {
  box-shadow: inset -8px -8px 40px #edc856bb;
}

.main1:hover {
  box-shadow: inset -8px -8px 40px #49aee5bb;
}

.main2:hover {
  box-shadow: inset -8px -8px 40px #df7bf0bb;
}

.container {
  transition: opacity 300ms ease-out;
  display: inline-block;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 3px;
  border-radius: 10px;
  width: 60%;
  max-width: 500px;
  border: solid 1px;
  opacity: 0.8;
}

.container:hover {
  opacity: 1;
}

.main-text {
  line-height: 1.1;
  font-size: 18px;
  padding: 0 4px 6px 4px;
}

p {
  font-size: 20px;
  font-weight: 600;
  margin: 4px;
}

canvas,
.cover {
  position: absolute;
  display: block;
  z-index: -2;
  top: 0;
  left: 120px;
  height: 120px;
}

hr {
  border: solid 1px white;
  filter: drop-shadow(0 0 2px white);
}

.link {
  transition: filter 600ms, color 150ms;
  color: #78b2fd;
  text-decoration: underline;
}

.link:hover {
  color: #488de8;
  filter: brightness(0.8);
}

.link:active {
  color: #2d6ec3;
  filter: brightness(0.6);
}

.link:visited {
  color: #b662ef;
}

.link:hover:visited {
  color: #893cbc;
  filter: brightness(0.8);
}

.link:active:visited {
  color: #7327a5;
  filter: brightness(0.6);
}

small {
  display: block;
  font-size: 12px;
}
