* {
  font-family: "Playfair Display";
  color: white;
  line-height: 110%;
}

html {
  font-size: 18px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}

div {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p {
  position: relative;
  text-align: center;
}

#content {
}

hr {
  border-radius: 2px;
  border: solid white 3px;
}

h1,
tt,
code {
  font-family: "Ubuntu Mono";
}

h1 {
  text-decoration: underline;
  font-size: 35px;
  cursor: default;
}

h1,
h2 {
  transition: margin-left 200ms;
  margin-left: 3px;
}

h1:hover,
h2:hover {
  margin-left: 12px;
}

button {
  background-color: #bebebe33;
  border: solid #3a3a3a 1px;
  border-radius: 3px;
  cursor: pointer;
}

a {
  font-family: Poppins;
  transition: filter 1s, color 100ms;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 1px black, 0 0 1px black,
    0 0 1px black;
  color: #78b2fd;
}

a:hover {
  color: #488de8;
  filter: brightness(0.7);
}

a:active {
  color: #2d6ec3;
  filter: brightness(0.5);
}

a:visited {
  color: #b662ef;
}

a:hover:visited {
  color: #893cbc;
  filter: brightness(0.7);
}

a:active:visited {
  color: #7327a5;
  filter: brightness(0.5);
}

.bold {
  font-weight: 600;
}

a.bold {
  color: #60d0f0;
}

table,
td,
tr {
  border: solid 1px black;
  border-collapse: collapse;
}
